<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Planner</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="/static/css/maplibre-gl.css" rel="stylesheet" />
</head>
<body>
    <!-- Menu laterale fuori dal div mappa -->
    <!-- Menu laterale -->
    <div id="sidebar">
        <div>Mission-Planner App</div>
        <button class="button" id="plan-mission">Plan Mission</button>
        <div id="mission-controls" style="display: none;">
            <button class="button" id="add-line">Add Line</button>
            <button class="button" id="add-manual-line">Add Manual Line</button>
            <button class="button" id="edit-lines">Edit Lines</button>
            <button class="button" id="clear-line">Clear</button>
        </div>
        <button class="button" id="create-mission">Create Mission</button>
        <button class="button" id="deleteMissionBtn">Delete Mission</button>

        <button class="button" style="margin-top: 25px;" id="start-mission">Start Mission</button>
        <div id="live-mission-controls" style="display: none;">
            <button class="button" id="complete-line">Complete Line</button>
            <button class="button" id="next-line">Passa alla linea successiva</button>
        </div>

        <button class="button" style="margin-top: 25px;" id="save-mission">Save</button>
        <button class="button" id="load-mission">Load</button>
        <button class="button" id="export-mission">Export</button>
        <button class="button" onclick="location.href = '/configuration'" style="margin-top: 25px;" id="setting-mission">Settings</button>
    </div>

    <div id="menu-toggle">☰</div>

    <div id="mission-name">Mission: None</div>

    <!-- Mappa -->
    <div id="map">
        <div id="coordinates">
            <div id="mission-status" style="display: none;">
                Distanza dalla linea: <span id="current-distance">--</span> m<br>
                Avanzamento sulla linea: <span id="line-progress">--</span>
            </div>
            Lat: <span id="current-lat">--</span>,
            Lon: <span id="current-lon">--</span><br>
            Depth: <span id="current-depth">--</span>
        </div>
               
    </div>
    <button id="recenter-map" title="Torna alla barca">📍</button>

    <!-- Popup per salvataggio -->
    <div id="save-popup" class="popup" style="display: none;">
        <h3>Save Mission</h3>
        <label for="mission-name">Mission Name:</label>
        <input type="text" id="mission-name-input">
        
        <label for="mission-user">Select User:</label>
        <select id="mission-user"></select>
        
        <label for="mission-boat">Select Boat:</label>
        <select id="mission-boat"></select>

        <button id="confirm-save">Save</button>
        <button id="cancel-save">Cancel</button>
    </div>

    <!-- Popup per caricamento -->
    <div id="load-popup" class="popup" style="display: none;">
        <h3>Load Mission</h3>
        <label for="mission-select">Select a Mission:</label>
        <select id="mission-select"></select>

        <button id="confirm-load">Load</button>
        <button id="cancel-load">Cancel</button>
    </div>

    <div id="manual-line-popup" class="popup load-popup" style="display: none; min-width: 300px;">
        <h3 style="margin-bottom: 10px;">Add Manual Line</h3>
    
        <div style="display: flex; gap: 10px; margin-bottom: 10px;">
            <input type="number" step="any" id="manual-lat1" placeholder="Start Point Latitude" style="flex: 1;">
            <input type="number" step="any" id="manual-lon1" placeholder="Start Point Longitude" style="flex: 1;">
        </div>
    
        <div style="display: flex; gap: 10px; margin-bottom: 15px;">
            <input type="number" step="any" id="manual-lat2" placeholder="End Point Latitude" style="flex: 1;">
            <input type="number" step="any" id="manual-lon2" placeholder="End Point Longitude" style="flex: 1;">
        </div>
    
        <div style="display: flex; justify-content: flex-end; gap: 10px;">
            <button id="confirm-manual-line">Add Line</button>
            <button id="cancel-manual-line">Cancel</button>
        </div>
    </div>
    

    <script src="/static/js/maplibre-gl.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
